<div class="col-md-5 offset-md-5">

    <img src="static/img/logoWhite.png" alt="Logo ISIMA">

	<h1>Welcome to the ZZ chat</h1><br /><br />
	
</div>

<div class="container">

    <form method="POST" class="form-signin" id="loginForm">

        <h2 class="form-signin-heading">Log in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" value="<? if(isset($_COOKIE['userEmail'])) echo $_COOKIE{'userEmail'}; ?>" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="passwd" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="login">Sign in</button>

    </form>

    <form method="get" action="register.php" class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>

</div>
