<div class="col-md-5 offset-md-5">

        <img src="static/img/logoWhite.png" alt="Logo ISIMA">
        <h1>Welcome to the ZZ chat</h1><br /><br />

    </div>

    <div class="container">

        <form id="registerForm" method="POST" class="form-signin">

            <h2 class="form-signin-heading">Please register</h2>
            <label for="inputEmail" class="sr-only">Nickname</label>
            <input type="text" name="name" id="inputNickname" class="form-control" placeholder="Nickname" required autofocus>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="passwd" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword" class="sr-only">Password Check</label>
            <input type="password" name="passwd2" id="inputPasswordVerification" class="form-control" placeholder="Password Check" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="register">Register</button>

        </form>

        <form method="get" action="login.php" class="form-signin">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

</div>
