<label>Ancien mot de passe</label>
                <input name="oldPasswd" type="password" class="form-control">
                <label>Nouveau mot de passe</label>
                <input name="newPasswd" type="password" class="form-control">
                <label>Nouveau mot de passe</label>
                <input name="newPasswd2" type="password" class="form-control">
                <br />
                <button type="submit" name="updateAccount" class="btn btn-lg btn-primary btn-block">Valider</button>
                
                </form>
            <form method="get">
                <button type="submit" name="logout" value="Déconnexion" class="btn btn-lg btn-primary btn-block">Déconnexion</button>
            </form>
        </div>
