<div class="col-md-5 offset-md-5">

    <img src="static/img/logoWhite.png" alt="Logo ISIMA">
		
		<h1>Bienvenue sur le chat des ZZs</h1><br /><br />
</div>

<div class="container">

    <form method="POST" class="form-signin" id="loginForm">

        <h2 class="form-signin-heading">Accès membre</h2>
        <label for="inputEmail" class="sr-only">Adresse e-mail</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" value="<? if(isset($_COOKIE['userEmail'])) echo $_COOKIE{'userEmail'}; ?>" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input name="passwd" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="login">S'identifier</button>

    </form>

    <form method="get" action="register.php" class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" type="submit">S'enregistrer</button>
    </form>

</div>


