<div class="col-md-5 offset-md-5">

        <img src="static/img/logoWhite.png" alt="Logo ISIMA">
        <h1>Bienvenue sur le chat des ZZs</h1><br /><br />

    </div>

    <div class="container">

        <form id="registerForm" method="POST" class="form-signin">

            <h2 class="form-signin-heading">Formulaire</h2>
            <label for="inputEmail" class="sr-only">NickName</label>
            <input type="text" name="name" id="inputNickname" class="form-control" placeholder="Pseudo" required autofocus>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Adresse e-mail" required autofocus>
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" name="passwd" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            <label for="inputPassword" class="sr-only">Mot de passe vérification</label>
            <input type="password" name="passwd2" id="inputPasswordVerification" class="form-control" placeholder="Mot de passe vérification" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="register">S'enregistrer</button>

        </form>

        <form method="get" action="login.php" class="form-signin">
            <button class="btn btn-lg btn-primary btn-block" type="submit">S'identifier</button>
        </form>

</div>
