#btnBold {

    background-image: url("../img/bold.png");
    width: 40px;
    height: 40px;
    background-size: cover;
}

#btnItalic {

    background-image: url("../img/italic.png");
    width: 40px;
    height: 40px;
    background-size: cover;
}

#btnUnder {

    background-image: url("../img/under.png");
    width: 40px;
    height: 40px;
    background-size: cover;
}

#btnQuote {

    background-image: url("../img/glyphicons-comments.png");
    background-color: transparent;
    width: 40px;
    height: 40px;
    background-size: cover;
}

/* text */
.quote
{
    font-family: "Liberation Mono", "Linux Libertine Mono", "Monospace";
    background-color: #9d9d9d;
    display: block;
}


/* css */
.header
{
    margin-right: 30px;
    margin-left: 30px;
}

.msgLeft
{
    margin-left: 20px;
    margin-right: 20px;
}
.msgRight
{
    margin-right: 20px;
    margin-left: 20px;
}
.container
{
    background-image: url("../img/background_greenBright.jpg");
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}


.chat li
{
    margin-bottom: 100px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;

}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 80%;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.avatar
{
    padding-left: 10%;
    padding-right: 10%;
    alignment: left;
    max-width: 100%;
    max-height: 100%;

}

#account
{
    margin-top: 50px;
    margin-right: 2%;
    margin-left: 2%;
    max-width: 20%;
}

#connectedMembers
{
    float: right;
    margin-top: 50px;
    margin-right: 2%;
    margin-left: 2%;
    max-width: 20%;
}

.container
{
    max-width: 100%;
    width: 100%;
}

.panel {
    width: 52%;
}